* {
  padding: 0;
  margin: 0;
}
:root {
  --primary-color: #d10050;
  --brown: #b25a59;
  --white: #ffffff;
  --txt-color: #2b3742;
  --pink: #f9acb5;
}

@font-face {
  font-family: "poppins-regular";
  src: url(../src/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "poppins-bold";
  src: url(../src/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: "poppins-semibold";
  src: url(../src/fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: "poppins-medium";
  src: url(../src/fonts/Poppins/Poppins-Medium.ttf);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

p {
  font-family: "poppins-regular";
  font-size: 14px;
}
